h2 {
    color: white;
    font-weight: 300;
    text-align:center;
}

.container_dataChange{
    display:flex;
    justify-content:center;
    align-items:center;
}


.changePassword, .changeEmail {
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    width: fit-content;
    text-align: center;
}
    .changePassword button, .changeEmail button {
        background-color: white;
        border-radius: 50px;
        margin-top: 20px;
        border: none;
        font-size: 20px;
        color:black;
        padding: 10px;
        width: 150px ;
        transition: all 0.5s ease;
    }
        .changePassword button:hover, .changeEmail button:hover {
            background-color: gray;
            color: white;
        }
        .form-group {
            display: flex;
            margin: 10px;
        }

    .form-group label {
        font-size: 20px;
        color: white;
        margin-right: 20px;
        white-space: nowrap;
    }