.container_login {
    background-color: lavender;
    border-radius: 50px;
    width: fit-content;
    height: 300px;
    padding:50px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color:black;
}


#password_remainder {
    display: flex;
    justify-content: center;
}

a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}
a:hover{
    color: lightcoral;
}

.submit_login {
    position: absolute;
    bottom: -90px;
    padding: 10px;
    border-radius: 30px;
    width: 200px;
    background-color:white;
    border: none;
    font-weight: bold;
}

    .submit_login:hover {
        background-color: lightgray;
    }

    #icon {
        position: absolute;
        top: -80px;
        width: 120px;
        height: 120px;
        border-radius: 100px;
        display: flex;
    }

img {
    border-radius: 100px;
}
