#container_main{
    display:flex;
    flex-wrap:nowrap;
    margin: 150px auto;
    justify-content:center;
    align-items:center;
}

.item {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 50px;
    text-align:center;
}

.mainButtons {
    font-size:120px;
}

.buttons {
    border-radius: 50px;
    width: 200px;
    height: 200px;
    background-color: #D6C1E8;
    border: none;
    display: block;
}

label {
    font-size: 30px;
    color: white;
    font-weight: bold;
    display: block; 
    margin-top: 10px;
}
