#container_statystyki {
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 20px;
    position: relative;
    margin: 30px auto;
    width: fit-content;
}
.form-group {
    min-width: 500px;
}
    p {
        background-color: white;
        display: inline-block;
        border-radius: 50px;
        padding: 20px;
        font-size: 20px;
        margin: 30px;
        width: 100px;
        text-align: center;
        transition: all 0.5s ease;
    }
p a{
    color:black;
    text-decoration:none;
}
    p:hover {
        cursor:pointer;
        background-color:gray;
    }
    a:hover{
    color:white;
        font-weight:bold;
    }
.table{
    color:white;
}



.form-group input.btn{
    position: absolute;
    right: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 20px;
    width: 200px;
    transition: all 0.5s ease;
}

    .form-group input.btn:hover {
        background-color: gray;
        color: white;
    }

.button{
    margin: 20px;
}
.button a {
    color:white;
}

