.container_register {
    margin: 50px auto;
    position: relative;
    background-color:rgba(0,0,0,0.6);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: fit-content;
    color:black;
}

.form-floating {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
}

    .form-floating > label {
        font-weight: bold;
        white-space: nowrap;
        margin-right: 20px;
    }

    .form-floating div {
        margin-right: 20px;
    }



.submit_register {
    position: absolute;
    bottom: -60px;
    right: 0px;
    width: 237px;
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 30px;
    transition: all 0.5s ease;
}
    .submit_register:hover{
        background-color:gray;
        color:white;
    }

    span {
        white-space: nowrap;
    }
