html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),url('../images/from-ball-white-line.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-decoration: none;
    list-style: none;
}
.logo {
    text-align: center;
    margin: 30px auto;
    width: 450px;
    height: 75px;
    padding:10px;
    border: 2px solid white;
    border-radius: 100px;
    font-size: 40px;
    font-weight: 200;
    color: white;
}


#manage {
    position: absolute;
    left: 20px;
    top: 20px;
    text-decoration: none;
    color: white;
    font-size: 40px;
    border: 3px solid white;
    background-color: black;
    border-radius: 100px;
    padding: 2px;
    width: 60px;
    height: 60px;
    display:flex;
    align-items:center;
    justify-content: center;
}

#logout, #login {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 2px solid white;
    color: white;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    border-radius: 40px;
    width: 150px;
    background-color: black;
    text-decoration: none;
    text-align:center;
}

nav.navbar {
    border-bottom: 1px solid white;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
li.nav-item a {
    color: white;
    display: block;
    padding: 10px;
    font-size:20px;
}
.nav-item {
    flex:1;
    text-align:center;
}
li.nav-item {
    transition: all 0.5s ease;
}
li.nav-item:hover {
    background-color: lightgray;
    cursor: pointer;
}
.nav-link.active {
    background-color: lightgray;
    color:black;
}
